@{
    ViewData["Title"] = "About";
}

<div class="container mt-4">

    <h2>About Our Company</h2>

    <div class="alert alert-info">
        Our company provides innovative technology solutions for businesses worldwide.
    </div>

    <ul class="list-group mt-3">
        <li class="list-group-item">10+ Years of Industry Experience</li>
        <li class="list-group-item">Global Client Network</li>
        <li class="list-group-item">Expert Software Development Team</li>
    </ul>

</div>