@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <img src="~/images/book1.png"
             alt="BookLogo"
             class="img-fluid mb-3"
             style="max-width: 300px;" />
        <h1>Welcome to TrainPortal!</h1>
        <p>Explore a wide range of courses designed to build skills and shape your future.</p>
    </div>
</div>

